body {  
  font-family: Verdana, sans-serif;
  background-color: whitesmoke;
  min-width: 1650px;
  max-width: 2000px;
  margin: 0;
}

.adbar {
    background-color: #e6e6e6;
    height: 100%;
    float: right;
    position: fixed;
    left:1275px;
    width: 14.5%;
    min-width: 240px;
    max-width:300px;
    
}

.ad {
    margin-top: 100px;
    background-color: #4CAF50;
    color: white;
    position: relative;
    top: 50px;
    height: 180px;
    width: 200px;
    margin: 0 auto;
}

.ad h1 {
  padding-top: 70px;
  text-align: center;
  color: black;
}

.logo {
  display: inline-block;
  z-index: 1;
  position: fixed;
  background-color: #373c44;
  height: 100px; 
  width: 1275px;
  max-width: 1700px;  
  text-align: center;
  color: #6b6eb2;
  font-size: 4em;
  font-weight: bold;
}  

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 100px;
    height: 40px;
    background-color: #6b6eb2;
    overflow: hidden;
    width: 1275px;    
    margin-right: 10px;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    width:33.3333%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 0;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.main {
  position: relative;
  display: inline-block;
  top: 135px;
  height: 1000px;
  width: 1275px;
}

.post {
  height: 200px;
  width: 100%;

  
}

.poster {
  display:block;
  background-color: #b9b9ce;
  color:#101011;
  height:40px;
  font-size: 2em;
  text-align: left;
  padding-left: 13%;
}

.post-content{
  height:160px;
  width: 100%;
}

.recipe-photo {
    display: inline;
    height: 100%;
    width: 15%;
    min-width: 200px;
    max-width: 200px;
    float: left;

}

.recipe-title {
    display:block;
    background-color: #373c44;
    color:#dee2e8;
    font-size: 1em;
    text-align: center;
}

.recipe-photo img {
  height: 100%;
  width: 100%;

}

.recipe-details {
  background-color: #dedfe0;  
  height:100%;
  width: 100%;
}

.user-comment{
  background-color: #b2ccf4;
  color: black;
  display: inline;
  float: left;
  height: 140px;
  width: 20%;
  text-align: center; 
  font-size: 2em;
  font-style: italic;
} 

.user-rating {
  background-color: #b2c491;
  display: inline-block;
  width: 25%;
  height: 120px;
  margin-left:1%;
  margin-top: 10px;
  font-weight: bold;
}

.user-rating h3{
  line-height: 0;  
  text-align: center;
}

.category-titles{
  position: relative;
  top: 10px;
  left: 10px;
  display: inline;
  width: 20%;
  height: 80px;
  padding-top: 0px;
}

.rating-criterion {
  text-align: left;
  padding-left: 10px;
}

.rating-criterion h4{
  font-size: 14px;
  display: inline;
  line-height: 26px;

}

.rating-criterion img{
  position: relative;
  top: 3px;
  height: 20px;
  width: 20px;
}

.community-rating{
  background-color: #92a7a8;
  display: inline-block;
  position: relative;
  bottom: 10px;
  width: 25%;
  height: 120px;
  margin-left: 1%;
  margin-top: 10px;
  font-weight: bold;
}

.community-rating h3 {
  line-height: 0;  
  text-align: center;
}

.community-rating h4 {
  line-height: 0;  
  margin: 28px 0px 28px 10px;
}



.view-recipe-button{
  background-color: #189e16;
  display: inline-flex;
  position: relative;
  bottom: 45px;
  left:2%;
  width: 128px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
}

.view-recipe-button h3{
  line-height: 12px;
  padding-left: 15px;
  font-size: 14px;
  padding-top: 5px;
}

.view-recipe-button:hover {
    background-color: #1dce1a;       
}